/*
  Main CSS file

  Made with ❤️ by @snowlover4ever
*/

@import "tailwindcss";

html {
  scroll-behavior: smooth;
  font-family: 'JetBrains Mono', monospace;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
html::-webkit-scrollbar {
  display: none;
}